<div>
		<figure class="post">
				<a href="<%= post.post_url %>">
						<img alt="" src="<%- post.photos[index].alt_sizes[0].url %>"/>
				</a>
				<figcaption><%= post.summary %></figcaption>
		</figure>
</div>
